li > a:hover {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active {
  color:#28a745;
  font-weight: bold;
}


@media (max-width: 767px) {
  .navbar-toggler {
    background-color: #c6e4cd;
  }

  .navbar-toggler-icon {
    background-color: #f3dede;
  }
}
