<div class="container mt-3">
  <div class="text-center animate__animated animate__bounceInRight mb-2">
    <span class="d-block"><i class="fa fa-user"></i></span>
    <h1 style="color: green;">smArtUI</h1>
    <p class="text-info mb-2 font-weight-bold">User's Point</p>
    <p class="lead mb-2" *ngIf="!loading">Please Register Here...</p>
    <p class="lead mb-2" *ngIf="loading">Loading...</p>
  </div>
  <br>
  <mat-spinner *ngIf="loading" class="amos"></mat-spinner>
  <div class="row justify-content-center" *ngIf="!loading">
    <div class="col-md-8">
      <div>
        <form #signup="ngForm" [matchValue]="['password','confirmPassword']" (ngSubmit)="save(signup)">
          <div class="row justify-content-around">
            <div class="col-md-5">
              <mat-form-field class="input mb-0">
                <input matInput type="text" placeholder="firstname(required)" name="fname" ngModel #fname="ngModel"
                  required class="p-0 m-0">
              </mat-form-field>
              <mat-error *ngIf="fname.invalid && (fname.touched || fname.dirty)" class="mt-0">
                <em *ngIf="fname.errors.required" class="mt-0">firstname is required</em>
              </mat-error>
            </div>
            <div class="col-md-5 mb-0">
              <mat-form-field class="input">
                <input matInput type="text" placeholder="lastName(required)" name="lname" ngModel #lname="ngModel"
                  required class="p-0 m-0">
              </mat-form-field>
              <mat-error *ngIf="lname.invalid && (lname.touched || lname.dirty)" class="mt-0">
                <em *ngIf="lname.errors.required" class="mt-0">lastname is required</em>
              </mat-error>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="col-md-5">
              <mat-form-field class="input">
                <input matInput type="text" placeholder="username(required)" name="userName" ngModel #username="ngModel"
                  required class="p-0 m-0">
                <mat-error *ngIf="username.invalid && (username.touched || username.dirty)" class="mt-0">
                  <em *ngIf="username.errors.required">username is required</em>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input">
                <input matInput type="email" placeholder="email(required)" name="email" ngModel #email="ngModel"
                  required email class="p-0 m-0">
              </mat-form-field>
              <mat-error *ngIf="email.invalid && (email.touched || email.dirty)" class="mt-0">
                <em *ngIf="email.errors.required">email is required</em>
                <em *ngIf="email.errors.email">enter a valid email</em>
              </mat-error>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="col-md-5">
              <mat-form-field class="input">
                <input matInput type="password" placeholder="password(required)" name="password" ngModel
                  #password="ngModel" required minlength="4" class="p-0 m-0">
              </mat-form-field>
              <mat-error *ngIf="password.invalid && (password.touched || password.dirty)" class="mt-0">
                <em *ngIf="password.errors.required">password is required</em>
                <em *ngIf="password.errors.minlength">password is too short</em>
              </mat-error>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input">
                <input matInput type="password" placeholder="confirmpass(required)" name="confirmPassword" ngModel
                  #confirmPassword="ngModel" required class="m-0 p-0">
                <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
                  <em *ngIf="confirmPassword.errors.required">confirm password required</em>
                  <em *ngIf="confirmPassword.errors.matchValueError">password does not match</em>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
            <div style="width: 80%;" class="mx-auto">
              <button mat-raised-button style="width: 100%; display: block; background-color: rgb(245, 6, 245); color: #ffffff"
                [disabled]="signup.invalid">Save</button>
              <button mat-raised-button
                style="width: 100%; display: block; background-color: #333534; color: #ffffff; margin-top: 10px;">cancel</button>
                <p class="mt-2 text-success">HAVE AN ACCOUNT? PLAESE <em class="text-danger" [routerLink]="['/users/login']" style="cursor: pointer;">LOGIN</em></p>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
