<footer class="page-footer font-small stylish-color-dark pt-4 text-white"  >
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold  mt-3 mb-4"><button mat-raised-button color="accent" style="font-size: 1.4em;">smArtUI</button></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, atque fugiat, libero quibusdam dolorum optio quidem blanditiis hic, amet accusantium ea illo odit expedita praesentium dicta sint. </p>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">products</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Electict Tokens</a>
          </li>
          <li>
            <a href="#!">Water</a>
          </li>
          <li>
            <a href="#!">Gas</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Projects</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://young-wave-52092.herokuapp.com/">Photo App</a>
          </li>
          <li>
            <a href="https://afternoon-hamlet-16273.herokuapp.com/">Simple E-Commerce</a>
          </li>
          <li>
            <a href="#!">Game</a>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>

        <ul class="list-unstyled">
          <li>
            <a  href="#!"><i class="fa fa-home mr-3"></i> Kitale, 30200 Kenya</a>
          </li>
          <li>
            <a  href="#!"><i class="fa fa-envelope-o mr-3"></i> amosmoyo5300@gmail.com</a>
          </li>
          <li>
            <a  href="#!"> <i class="fa fa-phone-square"></i>   +254710510906</a>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for now</h5>
      </li>
      <li class="list-inline-item">
        <a routerLink='users/signup'  class="btn btn-danger btn-lg" style="border-radius: 15px;">Sign up!</a>
      </li>
    </ul>

    <hr>

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="mr-3">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <i class="fa fa-facebook-square"></i>
          </button>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mr-3">
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <i class="fa fa-twitter-square"></i>
          </button>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mr-3">
          <button mat-mini-fab style="background-color: none;">
            <i class="fa fa-github-square text-black"></i>
          </button>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mr-3">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <i class="fa fa-linkedin-square"></i>
          </button>

        </a>
      </li>
    </ul>
    <div class="footer-copyright text-center py-3">
      <p>© 2020 Copyright</p>
    </div>
  </div>
</footer>
