.app-loading {
  .logo {
    width: 64px;
    height: 64px;
    background: url(./assets/images/smart-meter-illustration-600w-327190067.jpg) center center no-repeat;
    background-size: cover;
  }
}
